{
  "env": {
    "development": {
      "plugins": [
        "transform-async-to-generator",
        "transform-object-rest-spread"
      ]
    },
    "production": {
      "plugins": [
        "transform-async-to-generator",
        "transform-object-rest-spread",
        "transform-runtime"
      ]
    }
  },
  "only": [
    "client"
  ],
  "presets": [
    ["es2015", { "modules": false }]
  ]
}