doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title CDN管理工具
    link(href='/css/semantic.min.css' type='text/css' rel='stylesheet')
  body
    .container(style='height: auto; line-height: 20px; text-align: center; margin: 150px auto;')
      p(style='font-size: 22px;') #{status === 404 ? '页面不存在' : '请稍后再试'}