doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title CDN管理工具
    link(href='/css/semantic.min.css' type='text/css' rel='stylesheet')
  body
    #app
    script(src='/scripts/app.js')